// Apple WeatherKit Configuration

#define LATLNG "25.9920/-97.1830"   // Boca Chica, TX
#define APPLE_DEVELOPER_TEAM_ID ""
#define WEATHERKIT_KEY_ID ""
#define WEATHERKIT_APP_ID ""
#define WEATHERKIT_APP ""

#define WEATHERKIT_PUBKEY R"(-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----)"

#define WEATHERKIT_PRIVKEY R"(-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----)"

// Metric or Imperial
// #define METRIC
